body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.nav-link:hover {
    text-decoration: underline;
}

.apps-icon {
    width: 30px;  /* Reduzindo o tamanho da área */
    height: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px; /* Reduzindo o espaço entre os pontos */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}
.dot {
    width: 5px;
    height: 5px;
}


.apps-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dot {
    width: 3px;
    height: 3px;
    background-color: black;
    border-radius: 50%;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    width: 272px;
    margin-bottom: 20px;
}

.search-box {
    width: 500px;
    padding: 12px;
    font-size: 16px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    outline: none;
    background-color: white;
    color: black;
    text-align: left;
    padding-left: 20px;
}

.search-box:focus {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #dfe1e5;
    padding: 10px 20px;
    margin: 
}

.login-btn {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 15px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #1765cc;
}
